APP_NAME=Easyfoot
APP_VERSION=0.1.0
APP_PREFIX=/api
APP_ENV=development
APP_LOG_LEVEL=info
APP_PORT=5059
DB_PATH=data/app.db
CORS_ALLOW_ORIGINS_PROD=["https://localhost:8089","http://localhost:8089"]
